# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

vac_file = pd.read_csv("../output_data/cities.csv")
vac_file1 = pd.DataFrame(vac_file)
vac_file1

,Unnamed: 0,City,Temperature,Wind,Cloud,Humidity,Latitude,Longitude,Country,Date
0,0,chuy,60.62,5.37,2,83,-33.70,-53.46,UY,1587173981
1,1,hualmay,70.99,6.62,100,78,-11.10,-77.61,PE,1587174162
2,2,mataura,59.00,8.99,35,67,-46.19,168.86,NZ,1587173972
3,3,atuona,82.35,13.06,84,75,-9.80,-139.03,PF,1587173979
4,4,tuatapere,59.00,8.99,34,67,-46.13,167.68,NZ,1587173992
...,...,...,...,...,...,...,...,...,...,...
546,546,lagoa,60.37,11.70,58,72,39.05,-27.98,PT,1587174284
547,547,kurud,96.08,13.18,0,21,20.83,81.72,IN,1587174284
548,548,kailua,84.20,11.41,20,48,21.40,-157.74,US,1587174285
549,549,viedma,73.76,19.80,51,39,-40.81,-63.00,AR,1587174285
550,550,axim,80.69,9.06,100,86,4.87,-2.24,GH,1587174285

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
humidity = vac_file1['Humidity'].astype(float)
# Store 'Lat' and 'Lng' into  locations 
locations = vac_file1[["Latitude", "Longitude"]].astype(float)

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
# vac_file1 = pd.DataFrame(vac_file1, columns = ["City", "Temp", "Wind", "Cloud"])
vac_file1 = vac_file1.loc[(vac_file1['Humidity']) >70 & (vac_file1['Humidity'])]
vac_file1 = vac_file1.loc[(vac_file1['Wind']) < 10]
vac_file1 = vac_file1.loc[(vac_file1['Cloud']) == 0]
del vac_file1['Unnamed: 0']
vac_file1 = vac_file1.dropna()
vac_file1

,City,Temperature,Wind,Cloud,Humidity,Latitude,Longitude,Country,Date
37,brae,37.40,2.24,0,67,60.40,-1.35,GB,1587173882
48,auning,28.40,1.12,0,86,56.43,10.38,DK,1587174169
57,murdochville,15.73,6.11,0,90,48.96,-65.50,CA,1587174170
71,bilma,80.44,8.23,0,13,18.69,12.92,NE,1587174172
73,jalingo,84.13,4.63,0,54,8.88,11.37,NG,1587174172
75,saskylakh,8.71,4.99,0,88,71.92,114.08,RU,1587173929
76,terenos,66.20,4.70,0,55,-20.44,-54.86,BR,1587174173
127,caranguejeira,51.80,3.36,0,93,39.75,-8.71,PT,1587174184
147,flinders,70.00,4.00,0,44,-34.58,150.86,AU,1587174134
155,chernyshevskiy,13.98,8.97,0,84,63.01,112.47,RU,1587174191
165,teguldet,43.61,5.61,0,62,57.31,88.17,RU,1587174193
178,rocha,56.98,4.68,0,91,-34.48,-54.33,UY,1587173987
184,angoche,77.54,3.85,0,80,-16.23,39.91,MZ,1587174197
186,iasmos,53.01,1.45,0,87,41.13,25.18,GR,1587174199
213,chifeng,60.55,3.40,0,24,42.27,118.96,CN,1587174204
230,klaksvik,39.20,6.93,0,93,62.23,-6.59,FO,1587173994
264,faya,68.00,6.93,0,93,18.39,42.45,SA,1587174213
273,petropavlovsk-kamchatskiy,46.40,4.47,0,42,53.05,158.65,RU,1587173995
297,pyapon,89.71,6.46,0,37,16.28,95.68,MM,1587174218
306,tessalit,81.27,6.76,0,17,20.20,1.01,ML,1587174220
312,coquimbo,57.20,4.70,0,93,-29.95,-71.34,CL,1587174160
313,asino,43.57,9.48,0,62,57.00,86.15,RU,1587174223
315,wadi musa,50.90,4.90,0,55,30.32,35.48,JO,1587174223
325,vallenar,63.32,1.61,0,53,-28.57,-70.76,CL,1587174226
329,gat,62.01,2.51,0,76,31.61,34.76,IL,1587174227
334,tanout,75.60,7.18,0,13,14.97,8.89,NE,1587174228
336,suileng,66.51,4.43,0,21,47.25,127.08,CN,1587174228
340,bayan,64.00,2.33,0,33,46.08,127.40,CN,1587174229
370,teknaf,86.54,5.39,0,58,20.86,92.31,BD,1587174237
413,vrani,55.40,2.24,0,54,45.04,21.49,RO,1587174246
417,bara,77.79,1.12,0,13,10.37,10.73,NG,1587174247
435,kurilsk,39.74,7.87,0,69,45.23,147.88,RU,1587174251
453,beloha,69.04,2.30,0,71,-25.17,45.05,MG,1587174256
455,arlit,80.11,5.23,0,13,18.74,7.39,NE,1587174257
481,buenos aires,63.00,4.70,0,88,-34.61,-58.38,AR,1587174105
494,yelizovo,46.40,4.47,0,42,53.19,158.38,RU,1587174266
508,etne,35.01,1.99,0,78,59.66,5.93,NO,1587174273
518,zanjan,47.75,3.69,0,42,36.67,48.48,IR,1587174275
537,tahoua,79.86,9.44,0,12,14.89,5.27,NE,1587174282

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df = pd.DataFrame(vac_file1, columns = ['City', 'Country', 'Latitude', 'Longitude'])
hotel_df['Hotel Name'] = ''
hotel_df['Latitude'][37]

60.4

In [6]:
target_coordinates = f"{hotel_df['Latitude'][37]},{hotel_df['Longitude'][37]}"
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# hotel_df.iloc[0][0]
# hotel_df.head()
target_coordinates

'60.4,-1.35'

In [7]:
hotel_df.iloc[0][0]

'brae'

In [13]:
hotel_name = []

params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# taken from Airpost_Ratings Example done in class
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    latitude = row["Latitude"]
    longitude = row["Longitude"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{latitude},{longitude}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    try:
#         hotel_df.iloc[index, 4] = name_address['results'][0]['name']
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)

In [14]:
hotel_df.head()

            City Country  Latitude  Longitude                 Hotel Name
37          brae      GB     60.40      -1.35          Busta House Hotel
48        auning      DK     56.43      10.38                 Auning Kro
57  murdochville      CA     48.96     -65.50                 PresbytÃ¨re
71         bilma      NE     18.69      12.92                        NaN
73       jalingo      NG      8.88      11.37  Fast Track Hotel, Jalingo

In [15]:
hotel_df['Hotel Name'] = hotel_name
hotel_df.dropna()
hotel_df.to_csv('../output_data/hotel.csv')

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [17]:
# Add marker layer ontop of heat map
hotel_something = hotel_df['Hotel Name'].tolist()
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=1,
    info_box_content=[f"Bank amount: {hotel}" for hotel in hotel_something]
)

fig.add_layer(hotel_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))