# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

vac_file = pd.read_csv("../output_data/cities.csv")
vac_file1 = pd.DataFrame(vac_file)
vac_file1

,Unnamed: 0,City,Temperature,Wind,Cloud,Humidity,Latitude,Longitude,Country,Date
0,0,mehamn,39.20,20.80,75,86,71.04,27.85,NO,1587311210
1,1,barrow,8.60,3.36,90,78,71.29,-156.79,US,1587311141
2,2,nanma,57.99,8.37,1,73,36.18,118.16,CN,1587311211
3,3,el balsamo,87.80,9.17,5,52,15.07,-87.47,HN,1587311211
4,4,kapaa,71.60,4.70,90,83,22.08,-159.32,US,1587311211
...,...,...,...,...,...,...,...,...,...,...
549,549,inirida,77.16,2.93,91,88,3.87,-67.92,CO,1587311297
550,550,kismayo,83.46,15.99,100,75,-0.36,42.55,SO,1587311297
551,551,portland,52.00,5.82,75,81,45.52,-122.68,US,1587311231
552,552,cockburn town,78.12,13.20,18,80,21.46,-71.14,TC,1587311297
553,553,beloha,74.66,21.50,0,70,-25.17,45.05,MG,1587311297

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
humidity = vac_file1['Humidity'].astype(float)
# Store 'Lat' and 'Lng' into  locations 
locations = vac_file1[["Latitude", "Longitude"]].astype(float)

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
# vac_file1 = pd.DataFrame(vac_file1, columns = ["City", "Temp", "Wind", "Cloud"])
vac_file1 = vac_file1.loc[(vac_file1['Humidity']) >70 & (vac_file1['Humidity'])]
vac_file1 = vac_file1.loc[(vac_file1['Wind']) < 10]
vac_file1 = vac_file1.loc[(vac_file1['Cloud']) == 0]
del vac_file1['Unnamed: 0']
vac_file1 = vac_file1.dropna()
vac_file1

,City,Temperature,Wind,Cloud,Humidity,Latitude,Longitude,Country,Date
26,eyemouth,55.00,1.01,0,62,55.87,-2.09,GB,1587311215
33,roald,50.00,9.17,0,61,62.58,6.13,NO,1587311216
43,hovd,41.27,0.43,0,31,48.01,91.64,MN,1587311217
49,marsa matruh,64.40,4.70,0,63,31.35,27.25,EG,1587311218
50,port elizabeth,78.80,6.93,0,57,-33.92,25.57,ZA,1587311218
116,baykit,25.68,2.48,0,91,61.67,96.37,RU,1587311230
120,nhulunbuy,82.11,8.88,0,78,-12.23,136.77,AU,1587311230
138,ulaangom,36.28,1.72,0,52,49.98,92.07,MN,1587311234
142,nanchang,61.23,0.63,0,76,28.68,115.88,CN,1587311082
156,laizhou,48.69,9.86,0,86,37.18,119.93,CN,1587311237
166,aykhal,21.20,2.24,0,48,66.00,111.50,RU,1587311239
186,chuy,71.15,7.92,0,67,-33.70,-53.46,UY,1587311242
193,zharkent,63.66,4.07,0,22,44.16,80.00,KZ,1587311243
197,saskylakh,17.65,7.90,0,92,71.92,114.08,RU,1587311243
259,diego de almagro,77.88,6.58,0,17,-26.37,-70.05,CL,1587311254
277,jalu,86.81,5.46,0,13,29.03,21.55,LY,1587311256
280,ligayan,85.03,2.01,0,69,4.65,119.47,PH,1587311257
342,darhan,29.61,9.46,0,61,49.49,105.92,MN,1587311266
362,chadan,43.66,2.24,0,39,51.28,91.58,RU,1587311269
372,raudeberg,51.80,5.82,0,43,61.99,5.14,NO,1587311270
379,yerbogachen,16.88,2.39,0,91,61.28,108.01,RU,1587311272
380,hvide sande,60.01,1.99,0,32,56.00,8.13,DK,1587311272
385,thaba-tseka,61.05,9.57,0,22,-29.52,28.61,LS,1587311273
390,resistencia,84.00,6.93,0,39,-27.46,-58.98,AR,1587311273
396,nizhneudinsk,30.99,3.11,0,73,54.91,99.03,RU,1587311274
419,vilyuysk,6.66,5.86,0,92,63.76,121.62,RU,1587311278
420,tomatlan,82.96,3.15,0,52,19.93,-105.25,MX,1587311278
435,dalby,51.01,3.36,0,81,-27.18,151.27,AU,1587311280
436,thisted,57.00,4.00,0,53,56.96,8.69,DK,1587311280
449,valparaiso,77.00,6.93,0,57,-33.04,-71.63,CL,1587311282
454,byron bay,63.00,6.93,0,93,-28.65,153.62,AU,1587311283
466,esna,89.60,5.82,0,27,25.29,32.55,EG,1587311284
492,kodinsk,26.42,4.88,0,90,58.69,99.18,RU,1587311288
517,pando,79.00,9.17,0,60,-34.72,-55.95,UY,1587311292
538,rocha,71.83,8.59,0,63,-34.48,-54.33,UY,1587311222
540,victoria point,66.00,7.47,0,72,-27.58,153.30,AU,1587311232

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = pd.DataFrame(vac_file1, columns = ['City', 'Country', 'Latitude', 'Longitude'])
hotel_df['Hotel Name'] = ''
hotel_df['Latitude'][26]

55.87

In [23]:
target_coordinates = f"{hotel_df['Latitude'][26]},{hotel_df['Longitude'][26]}"
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# hotel_df.iloc[0][0]
# hotel_df.head()

# response.json()

In [16]:
hotel_df.iloc[0][0]

              City Country  Latitude  Longitude Hotel Name
26        eyemouth      GB     55.87      -2.09
33           roald      NO     62.58       6.13
43            hovd      MN     48.01      91.64
49    marsa matruh      EG     31.35      27.25
50  port elizabeth      ZA    -33.92      25.57

In [17]:
hotel_name = []

params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# taken from Airpost_Ratings Example done in class
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    latitude = row["Latitude"]
    longitude = row["Longitude"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{latitude},{longitude}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    try:
#         hotel_df.iloc[index, 4] = name_address['results'][0]['name']
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)

In [19]:
hotel_df['Hotel Name'] = hotel_name
hotel_df.head()

,City,Country,Latitude,Longitude,Hotel Name
26,eyemouth,GB,55.87,-2.09,The Home Arms Bed and Breakfast Guest House
33,roald,NO,62.58,6.13,Vestavind Hytter og Rom AS
43,hovd,MN,48.01,91.64,Steppe hotel
49,marsa matruh,EG,31.35,27.25,Beau Site
50,port elizabeth,ZA,-33.92,25.57,Millbury Guesthouse

In [20]:

hotel_df.dropna()
hotel_df.to_csv('../output_data/hotel.csv')

In [21]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [22]:
# Add marker layer ontop of heat map
hotel_something = hotel_df['Hotel Name'].tolist()
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=1,
    info_box_content=[f"Bank amount: {hotel}" for hotel in hotel_something]
)

fig.add_layer(hotel_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))